@import "tailwindcss";

@layer base {
    html,
    body {
        font-family: "Pretendard", "Noto Sans KR", "AppleSDGothicNeo",
            sans-serif;
    }

    html,
    body,
    main {
        width: 100%;
        height: 100%;
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    @media (prefers-color-scheme: dark) {
        html {
            color-scheme: dark;
        }
        body {
            color: white;
            background: black;
        }
    }
}

@layer utilities {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@theme {
    --breakpoint-xs: 360px;
    --breakpoint-fhd: 1920px;
}
